.noto-serif-assign {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}

  
    
/* Common Styles */
.dis-flex{
    display: flex;
}

.para-color{
    color: rgba(137, 135, 161, 1);
}

.org-color{
    color:rgba(233, 90, 8, 1);
}

/* NavBar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    max-width: 1140px;
    margin: auto;
}

.nav-links{
    text-decoration: none;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
 }

.cart{
    border: none;
    font-weight: 600;
   }

/* Always Flower Banner */

.always-container{
    justify-content: center;
    max-width: 1140px;
    align-items: center;
    max-width: 1140px;
    display: flex;
    margin: auto;
    margin-top: 120px;
}
.banner-title {
    margin: 0px;
    font-size: 60px;
    line-height: 70px;
}
    
.always-banner{
    max-width: 570px;
    height: auto;
  
}

.hero-flow{
    max-width: 570px;
    margin-bottom: 0px;
}

.banner-details{
    max-width: 560px;
    color: rgba(137, 135, 161, 1);
    font-size: 22px;
    margin: 15px 0 0 0;

}

/* Our Plant section */
.plant-container{
    max-width: 1140px;
    
    margin: auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        
}
.plant-container p{ 
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.plant-content{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.plant-title{
    font-size: 50px;
    margin:0%
    }
.plant-details{
    font-size: 22px;
    color: rgba(137, 135, 161, 1);
}

.cards{
    margin: 40px 0 0 0;
    max-width: 280px;
    /* border: 1px salmon solid; */
    
}

.btn-cart{
    background-color:rgba(233, 90, 8, 1);
    color: white;
    font-weight: 600;
    padding: 10px 90px;
    border: none;
    border-radius: 2px;
}

/* Flower Plants-container */

.plants-container{
    max-width: 1140px;
    max-height: 600px;
    display: flex;
    margin: auto;
    margin-top: 150px;
    gap: 50px;
    
}

.trust-bg{ 
    max-width: 280px;
    position: relative;
    left: 350px;
    top: -700px;
    background: transparent;
 

}

.flower-banner h3 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

.love-detailes{
    color: rgba(137, 135, 161, 1);
    font-size: 20px ;
    padding-bottom: 20px;
}

.deals-container{
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
}

.plant-title{
    font-size: 50px;
    margin:0%;
    text-align: center;

}

.plant-details{
    color: rgba(137, 135, 161, 1);
    font-size: 20px ;
    padding-bottom: 20px;
    text-align: center;
}

/* deal image section */

.bloom{
    background:linear-gradient(rgba(0, 0, 0, 0.5)), url(./Images/deal-bloom.png);
    background-size: cover;
    border-radius: 10px;
    width: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;  }

.ana{
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.5)), url(./Images/deal-ana.png);
    background-size: cover;
    width: 400px;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    margin-top: 10px;
    border-radius: 10px;
      
}

.zabo{
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.5)), url(./Images/deal-zabo.png);
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    border-radius: 10px;
}
.zabo h2{
    font-size: 40px;
}
.dealoff-container{
    display: flex;
    max-width: 1140px;
    height: 450px;
    margin: auto;
    gap: 25px;
    margin-top: 70px;
}



/* Colorful Bunch Section */

.colorful-sec{
    background: url(./Images/news-letter-bg.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    margin-top: 120px;

}

.colorful-sec h2{
    font-size: 50px;
    gap: none;    
}

.email{
    width: 520px;
    padding: 15px 20px;
    font-size: 16px;
    text-align: start;
}

.subscribe{
    padding: 15px 65px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    font-size: 16px;
    font-weight: 600;
    height: 52px;

}

/* Footer section */

.last-ft{
    display: flex;
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
    color: rgba(137, 135, 161, 1);
}

.ft-logo{
    width: 360px;
    font-size: 20px;
}
.list-1{
     margin-left: 50px;

}

.list-2{
    margin-left: 90px;
}
.ft-contact{
    display: flex;
}
.ft-list{
    list-style: none;
    line-height: 50px;
}
.icon-sec{
    margin-left: 70px;
}
.icon-sec img{ 
    margin-left: 25px;
}

/* Responsive media query */
@media screen and (max-width:576px) {

  .nav-links{
    display: none;
 }
  .always-container{
    flex-direction: column;
 } 
  .always-banner:{
    margin: auto;    
 }
 .banner-title{
    font-size: 32px;
    line-height: normal;
 }
.hero-flow{
    order: -1;
    width: 380px;
 }
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
 }
.cards{
     max-width: 190px;
     gap: 10px;
     font-size: 16px;
 }
.flower-image{
    max-width: 380px;
    padding-left: 10px;
 }
.btn-cart{
    padding: 15px 40px;
    margin: auto;
 }
.plants-container {
    display: flex;
   flex-direction: column;
   margin-top: 50px;
 }
.flower-image{
    max-width: auto;
    margin: auto;
 }
.trust-bg{
    display: none;
 }
.flower-banner h3 {
    margin: 0%;
    font-size: 30px;
 }
.deals-container {
   flex-direction: column;
   margin-top: 600px;
   
 }
.dealoff-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: auto;
}

.bloom{
   height: 215px;
   margin-bottom: 10px; 
}
.zabo{
    margin-top: 0;
    max-height: 215px;
    
}
 .zabo h2{font-size: 24px; }  
.colorful-sec{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    max-height: 280px;
    width: 100%;
}

.colorful-sec h2{
    font-size: 24px;   
}
   
.email{ 
    padding: 10px;
    width: 150px;

}
.subscribe{
    width: 100px;
    padding: 10px;
    height: 42px;

}


















}















