.noto-serif-assign {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
*{
    background-color: aliceblue;
}
  
    
/* Common Styles */
.dis-flex{
    display: flex;
}

.para-color{
    color: rgba(137, 135, 161, 1);
}

.org-color{
    color:rgba(233, 90, 8, 1);
}

/* NavBar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    max-width: 1140px;
    margin: auto;
}

.nav-links{
    text-decoration: none;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
 }

.cart{
    border: none;
    font-weight: 600;
   }

/* Always Flower Banner */

.always-container{
    justify-content: center;
    max-width: 1140px;
    align-items: center;
    max-width: 1140px;
    display: flex;
    margin: auto;
    margin-top: 120px;
}
.banner-title {
    margin: 0px;
    font-size: 60px;
    line-height: 70px;
}
    
.always-banner{
    max-width: 570px;
    height: auto;
  
}

.hero-flow{
    max-width: 570px;
    margin-bottom: 0px;
}

.banner-details{
    max-width: 560px;
    color: rgba(137, 135, 161, 1);
    font-size: 22px;
    margin: 15px 0 0 0;

}

/* Our Plant section */
.plant-container{
    max-width: 1140px;
    
    margin: auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        
}
.plant-container p{ 
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.plant-content{
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.plant-title{
    font-size: 50px;
    margin:0%
    }
.plant-details{
    font-size: 22px;
    color: rgba(137, 135, 161, 1);
}

.cards{
    margin: 40px 0 0 0;
    max-width: 280px;
    /* border: 1px salmon solid; */
    
}

.btn-cart{
    background-color:rgba(233, 90, 8, 1);
    color: white;
    font-weight: 600;
    padding: 10px 90px;
    border: none;
    border-radius: 2px;
}

/* Responsive media query */
@media screen and (max-width:576px) {

  .nav-links{
    display: none;
  }
  .always-container{
    flex-direction: column;
  }
  .always-banner:{
    margin: auto;
    
  }

 .banner-title{
    font-size: 32px;
    line-height: normal;
 }
.hero-flow{
    order: -1;
    width: 100%;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.cards{
     max-width: 190px;
     gap: 10px;
     font-size: 16px;
     

    }
.flower-img{
    max-width: 100%;

}

.btn-cart{
    padding: 15px 40px;
    margin: auto;

}




}















